@import "tailwindcss";


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


  :root {
  --primary-color: #000000;
  --secondary-color: #9333ea;
  --tertiary-color: #10b981;
  --text-color:#ffff;
  --font-main: 'Inter', sans-serif; 
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: var(--font-main);
  transition: background-color 0.3s ease;
}
@theme{
  --color-primary:var(--primary-color);
  --color-secondary:var(--secondary-color);
  --color-tertiary:var(--tertiary-color);
}