@import "tailwindcss";


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #5a5a5a61;
  }
}


  :root {
  --primary-color: #000000;
  --secondary-color: #076860;
  --tertiary-color: #10b981;
  --text-color:#ffffff;
  --font-main: 'Inter', sans-serif; 
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: var(--font-main);
  transition: background-color 0.3s ease;
}
@theme{
  --color-primary:var(--primary-color);
  --color-secondary:var(--secondary-color);
  --color-tertiary:var(--tertiary-color);
  --color-textcolor:var(--text-color);
  --animate-spotlight: spotlight 2s ease 0.75s 1 forwards;
}






@keyframes spotlight {
  0% {
    opacity: 0;
    transform: translate(-72%, -62%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -40%) scale(1);
  }
}
